<!-- view -->
<div class="container">
  <h1><%= @user_name %>'s Page</h1>

  <ul>
    <li><a href="/<%= @user_name %>/decks">Select a Deck</a></li>
    <li>Create a Deck</li>
    <li><a href ="/users/logout">Logout</a></li>
  </ul>

  <% if !@rounds.empty? %>
    <h3>Previous Games Statistic</h3>
    <h4>Statistics By Round</h4>
    <ul>
      <% @rounds.each_with_index do |round, index|%>
        <li>Deck "<%= round.shuffled_deck.name %>" Game <%= @rounds.size - index %> : <%= round.score %>%</li>
      <% end %>
    </ul>

    <h4>Average Deck Score</h4>
    <ul>
      <% @decks.each do |key, value|%>
        <li>Deck: "<%= key %>" - <%= value %>%</li>
      <% end %>
    </ul>
  <% end %>
  
</div>

